:root {
  --main-color: #f9f7fe;
  --titles-color: #3b3566;
  --highlight-color: #885df1;
}

h1 {
  font-family: "Playfair Display", serif;
  display: inline;
}

h2 {
  font-family: "Poppins", sans-serif;
}

.hero {
  background: var(--main-color);
  padding: 150px;
}

.hero h1 {
  color: var(--titles-color);
  font-size: 96px;
}

.hero h2 {
  font-size: 40px;
}
